<!DOCTYPE html>
<html lang="en">
     <%-include("shared/head")%>
<body>
     <%-include("shared/header")%>

     <section class="produtos">
        <h2> Produtos </h2>
        <div class="container">
                <% for(let produto of produtos){ %>
                    <p><%= produto.produto %></p>
                <% } %>
        </div>
     </section>

     <%-include("shared/footer")%>
</body>
</html>